name: Symply CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  codestyle:
    name: Code Style checks
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP and tools
        uses: shivammathur/setup-php@2.28.0
        with:
          php-version: 8.1
          tools: php-cs-fixer:3.17
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run PHP-CS-Fixer SYMPLY
        run: "rm -fr .php-cs-fixer.cache && php-cs-fixer fix --config=.php-cs-fixer-symply.php --dry-run --diff --ansi"
